body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background: linear-gradient(135deg, #e7f3b1 0%, #95cadf 50%, #f093fb 100%);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     overflow: hidden;
}

.login{

    position: absolute;

    width: 100%;

    display: flex;

    flex-direction: row;

    align-items: center;

    gap: 30px;

    background: rgba(53, 54, 59, 0.164);

    backdrop-filter: blur(10px);

    border-radius: 25px;

    padding: 25px;

    box-sizing: border-box;

    transition:
    transform 0.7s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.7s ease;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.15);

    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.login:hover {
    transform: translatey(-7px);
    
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

.login .formulario-derecho h2 {
    color: rgb(4, 4, 4);            
}


.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box; 
}

.formulario-derecho {
    flex: 1;             
}


.formulario-derecho h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    color: #333;         
}

button:last-child {
    margin-bottom: 0;   
}
button {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 20px;
    background-color: rgba(48, 48, 225, 0.8);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
    
}

.imagen_login {
    width: 400px;       
    height: 400px;      
    object-fit: cover;  
    border-radius: 15px; 
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box; 
}

.contenedor-principal {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 30px;           
    max-width: 800px;    
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.login:hover {
    border-color: transparent; 
    box-shadow: 0 0 20px rgba(87, 85, 85, 0.793); 
    transition: all 0.3s ease; 
}

button:hover {
    background-color: #505fe8; 
    box-shadow: 0 0 15px rgba(48, 88, 220, 0.748); 
    transform: translateY(-2px); 
}

.formulario-derecho form a {
    display: block;
    width: 100%;
    margin-bottom: 20px; 
    text-decoration: none;
}



.overlay-popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}


.popup-box {
    background: rgba(7, 5, 5, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    animation: aparecer 0.3s ease;
}

.popup-box h3 {
    margin-top: 0;
    color: #ffffff;
    font-size: 22px;
}

.popup-box p {
    color: #fff8f8;
    margin-bottom: 20px;
}


.btn-cerrar {
    background: #7c9ce8;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-cerrar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(225, 213, 224, 0.5);
}

@keyframes aparecer {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

#img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
    align-self: center;
   
}


#icon_gib {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    align-self: center;
    position: absolute;
    top: 80%;
    bottom: 10%;
    left: 3%;
}

#icon_gib:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.transicion{
    position: fixed;
    inset: 0;

    background: #0f172a;

    z-index: 9999;

    clip-path: circle(0% at center);

    transition: clip-path 0.8s ease-in-out;

    pointer-events: none;
}

body{
    transition:
    opacity 0.5s ease,
    transform 0.5s ease,
    filter 0.5s ease;
}

body.salir{
    opacity: 0;
    transform: scale(1.03);
    filter: blur(8px);
}


#icon_gib2 {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    align-self: center;
    position: absolute;
    top: 80%;
    bottom: 10%;
    right: 3%;
}

.logo {
    
    
    align-self: center;
    position: absolute;
    top: 1%;
    color: black;
    
    }


    .contenedor-login{

    position: relative;

    width: 850px;

    height: 450px;
}


.active-panel{

    transform: translateX(0);

    opacity: 1;

    z-index: 2;
}


.hidden-right{

    transform: translateX(120%);

    opacity: 0;

    z-index: 1;
}


.hidden-left{

    transform: translateX(-120%);

    opacity: 0;

    z-index: 1;
}


.formulario-derecho button{

    margin-top: 5px;
}


.error-login{
    background: rgba(255, 0, 0, 0.15);
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.error-login p{
    margin: 0;
}